extends layout

block content
      h1 #{title}
      ul.list-group
         each article, i in articles
            li.list-group-item 
               a(href="/articles/" + article._id)= article.title
               each user, j in users
                  if user._id == article.author
                     p by #{user.name}
            
            